<%= content_for :subtitle do %>
  Submission Complete
<% end %>

<h1>Thank you for your submission!</h1>
<h5>You may copy and paste these notes into your call logging system to avoid duplication of notes.</h5>
<p>Display of text from question three.</p>
