<%= content_for :subtitle do %>
Survey
<% end %>


<ol>
  <li>How did the customer sound on the phone?</li>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Happy
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Neutral
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Dissatisfied
    </label>
  </div>


  <li>What product was the customer calling about?</li>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Orange
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Strawberry
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Pineapple
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Orange
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Banana
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Other
    </label>
  </div>

  <li>Describe the issue with the product.</li>
  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Describe the issue here...">

  <li>Was the issue resolved?</li>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Yes
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      No
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</ol>
