<h1>Index of Results</h1>

<table class="table table-striped table-hover">
  <tr>
    <th>Feeling</th>
    <th>Product</th>
    <th>Issue</th>
    <th>Resolution</th>

  </tr>

  <% @list_of_surveys.each do | list| %>

  <tr>
    <td><%= list.customer_feeling %></td>
    <td><%= list.customer_product %></td>
    <td><%= list.customer_issue %></td>
    <td><%= list.issue_resolved %></td>

<!--     <td><a href="http://localhost:3000/delete_zodiac/<%#= zodiac.id %>">Delete</a></td> -->
  </tr>
  <% end %>


</table>
